In [53]:
import pandas as pd
pd.options.display.float_format = '{:,.2f}'.format
df = pd.read_csv('salaries_by_college_major.csv')
clean_df = df.dropna()
clean_df.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,"46,000.00","77,100.00","42,200.00","152,000.00",Business
1,Aerospace Engineering,"57,700.00","101,000.00","64,300.00","161,000.00",STEM
2,Agriculture,"42,600.00","71,900.00","36,300.00","150,000.00",Business
3,Anthropology,"36,800.00","61,500.00","33,800.00","138,000.00",HASS
4,Architecture,"41,600.00","76,800.00","50,600.00","136,000.00",Business

In [54]:
id = clean_df['Starting Median Salary'].idxmax()
clean_df['Undergraduate Major'][id]

'Physician Assistant'

In [55]:
id = clean_df['Mid-Career Median Salary'].idxmax()
major = clean_df['Undergraduate Major'][id]
salary = clean_df['Mid-Career Median Salary'].max()
print(major, salary)

Chemical Engineering 107000.0

In [56]:
id = clean_df['Starting Median Salary'].idxmin()
major = clean_df['Undergraduate Major'][id]
salary = clean_df['Starting Median Salary'].min()
print(major, salary)

Spanish 34000.0

In [57]:
id = clean_df['Mid-Career Median Salary'].idxmin()
major = clean_df['Undergraduate Major'][id]
salary = clean_df['Mid-Career Median Salary'].min()
print(major, salary)

Education 52000.0

In [58]:
spread_col = clean_df['Mid-Career 90th Percentile Salary'] - clean_df['Mid-Career 10th Percentile Salary']
clean_df.insert(1, 'Spread', spread_col)

In [59]:
low_risk = clean_df.sort_values('Spread')
low_risk[['Undergraduate Major', 'Spread']].head()

           Undergraduate Major    Spread
40                     Nursing 50,700.00
43         Physician Assistant 57,600.00
41                   Nutrition 65,300.00
49                     Spanish 65,400.00
27  Health Care Administration 66,400.00

In [60]:
high_risk = clean_df.sort_values('Spread', ascending=False)
high_risk[['Undergraduate Major', 'Spread']].head()

   Undergraduate Major     Spread
17           Economics 159,400.00
22             Finance 147,800.00
37                Math 137,800.00
36           Marketing 132,900.00
42          Philosophy 132,500.00

In [61]:
high_potential = clean_df.sort_values('Mid-Career 90th Percentile Salary', ascending=False)
high_potential[['Undergraduate Major', 'Mid-Career 90th Percentile Salary']].head()

     Undergraduate Major  Mid-Career 90th Percentile Salary
17             Economics                         210,000.00
22               Finance                         195,000.00
8   Chemical Engineering                         194,000.00
37                  Math                         183,000.00
44               Physics                         178,000.00

In [62]:
clean_df.groupby('Group').mean(numeric_only=True)

,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,
Business,"103,958.33","44,633.33","75,083.33","43,566.67","147,525.00"
HASS,"95,218.18","37,186.36","62,968.18","34,145.45","129,363.64"
STEM,"101,600.00","53,862.50","90,812.50","56,025.00","157,625.00"